%h1
  = "8JOINCIC - Mesa de Trabajo Akdemia"

= link_to "Schools", show_schools_joincics_path
%br/
%br/
= link_to "Active in Perú", show_active_students_joincic_path(138)
%br/
= link_to "Active in USA", show_active_students_joincic_path(186)
%br/
= link_to "Active in Venezuela", show_active_students_joincic_path(191)
%br/
